<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Title</title>
</head>
<body>
<div th:text="${#lists.size(output.data)}">Web Application. Passed parameter : </div>
</body>
</html>